<h3>
    Seguimiento de ruido en las aulas en tiempo real
</h3>

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4">
                <justgage [options]="options" [max]="max" [value]="value"></justgage>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <justgage [options]="options1" [max]="max1" [value]="value1"></justgage>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <justgage [options]="options" [max]="max" [value]="value"></justgage>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <justgage [options]="options1" [max]="max1" [value]="value1"></justgage>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <justgage [options]="options" [max]="max" [value]="value"></justgage>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <justgage [options]="options1" [max]="max1" [value]="value1"></justgage>
            </div>
        </div>

    </div>
</div>