<h3>Módulo de presentación de estadísticas de ruido en las aulas</h3>


<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <h2>{{graficos.grafico1.leyenda}}</h2>
                <canvas baseChart [data]="graficos.grafico1.data" [labels]="graficos.grafico1.labels" chartType="doughnut"></canvas>

            </div>
            <div class="col">
                <h2>{{graficos.grafico2.leyenda}}</h2>
                <canvas baseChart [data]="graficos.grafico2.data" [labels]="graficos.grafico2.labels" [options]="options" chartType="bar"></canvas>

            </div>


        </div>


    </div>
</div>